In [43]:
import pandas as pd

Read Dataset

In [44]:
df = pd.read_csv("transformed_dataset.csv")
df.head()

   BTC_PRICE  COUNT  MEAN  MEDIAN     SUM        Timestamp  CHANGE
0   10219.03   1680  0.17    0.14  287.79  2/13/2020 20:47       0
1   10181.00   1635  0.17    0.15  285.62  2/13/2020 21:59      -1
2   10215.92   1658  0.20    0.20  331.28  2/13/2020 22:59       1
3   10247.34   1417  0.20    0.20  290.43  2/13/2020 23:59       1
4   10225.00   1377  0.18    0.18  241.29   2/14/2020 0:59      -1

Initialize Bins

In [45]:
bins = [-1, 0, 0.12, 0.22, 0.30, 1] 
group_names = ['very low', 'low', 'med', 'high', 'very high']

Create Discretized Data

In [46]:
df['mean_groups'] = pd.cut(df['MEAN'], bins, labels=group_names)
df['median_groups'] = pd.cut(df['MEDIAN'], bins, labels=group_names)

In [47]:
df = df.drop('Timestamp', axis='columns')
df = df.drop('BTC_PRICE', axis='columns')
df = df.drop('SUM', axis='columns')
df = df.drop('COUNT', axis='columns')
#ignoring sum count for now

Discretized data frame

In [48]:
df.head()

   MEAN  MEDIAN  CHANGE mean_groups median_groups
0  0.17    0.14       0         med           med
1  0.17    0.15      -1         med           med
2  0.20    0.20       1         med           med
3  0.20    0.20       1         med           med
4  0.18    0.18      -1         med           med

Exporting the discretized data

In [49]:
df = df.drop('MEAN', axis='columns')
df = df.drop('MEDIAN', axis='columns')

In [51]:
df.to_csv (r'discretized_dataset.csv', index = False, header=True)

# **LABELLING THE DATASET**

In [37]:
#from sklearn.preprocessing import OneHotEncoder

Read the discretized data

Label the data fields mean_groups and median_groups

In [39]:
inputs = df_n.drop('CHANGE', axis='columns')

In [40]:
inputs.head()

  mean_groups median_groups
0         low      very low
1         low      very low
2         low           low
3         low           low
4         low           low

In [42]:
#df_n.isnull().values.sum()
df_n = df.dropna()

In [ ]:
inputs = OneHotEncoder().fit_transform(inputs)

In [ ]:
df_n.to_csv (r'labelled_dataset.csv', index = False, header=True)